* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text-color: #fff;
    --bg-url: url(../../public/assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(../../public/assets/moon-stars.svg);
  }
  
  .light {
    --text-color: #000;
    --bg-url: url(../../public/assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(../../public/assets/sun.svg);
  }
  
  body {
    background: var(--bg-url) no-repeat top center/cover;
  
    -webkit-font-smoothing: antialiased;
  }
  
  body * {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  
    color: var(--text-color);
  }
  
  /* media queries */
  @media (min-width: 700px) {
    :root {
      --bg-url: url(../../public/assets/bg-desktop.jpg);
    }
  
    .light {
      --bg-url: url(../../public/assets/bg-desktop-light.jpg);
    }
  }
  