.container {
    width: 100%;
    max-width: 36.25rem;
  
    margin: 3.5rem auto 0px;
    padding: 0 1.5rem;
  }
  
  /* profile */
  .profile {
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin: 1.5rem;
  }
  
  .profile img {
    width: 7rem;
    height: 7rem;
  
    border-radius: 50%;
    border: 0.09375rem solid var(--stroke-color);
  }
  
  .profile p {
    font-weight: 500;
    line-height: 1.5rem;
  
    margin-top: 0.5rem;
  }
  
  .link ul {
    list-style: none;
  
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    padding: 1.5rem 0;
  }
  
  .socialLinks {
    margin: 1.5rem 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    gap: 1rem;
  }
  
  .container footer {
    padding: 1.5rem 0;
    text-align: center;
    font-size: 0.875rem;
  }
  