.switch {
  position: relative;
  width: 4rem;

  margin: 0.25rem auto;
}

.switch button {
  width: 2rem;
  height: 2rem;
  background: #fff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

:global(.light) .switch button {
  animation: slide-in 0.2s forwards;
}

.switch button:hover {
  outline: 0.5rem solid var(--highlight-color);
}

.switch span {
  display: block;
  width: 4rem;
  height: 1.5rem;

  background: var(--surface-color);
  border: 0.0625rem solid var(--stroke-color);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);

  border-radius: 9999px;
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
